@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.item svg {
    color: #2d4271 !important;
    font-size: 14px;
}

.grid-list-2 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.table-dense td{
    padding: 4px 8px !important;
}

body {
    font-weight: 400;
    color: #2d4271 !important;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.mxh-2000 {
    max-height: 2000px;
}

.mxh-1000 {
    max-height: 1000px;
}

.wp-300 {
    width: 300px;
}

.wp-250 {
    width: 250px;
}

.wp-150{
    width: 150px;
}

button[checked="checked"] {
    background: #4d4aef !important;
    color: #fff;
}

.top-button {
    padding: 4px 0px;
    background-color: #fff;
    border-bottom: 1px solid #d6d5d5;
    align-items: center;
}


.content-page {
    margin-left: 260px;
    overflow: hidden;
    padding: 70px 0px 65px !important;
    min-height: 100vh;
}


.spacer {
    flex-grow: 1 !important;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.validation-errors {
    padding: 0;
    color: red;
}


.mn-w-100{
    min-width:100px;
}

.home-page__explore-tour .slick-slide {
    width: 236px !important;
}

/*icon indec*/

.icon--why-1::before {
    content: '\f15d';
}

